[ req ]
default_bits           = 2048
distinguished_name     = distinguished_name
string_mask            = utf8only
default_md             = sha256
prompt                 = no
x509_extensions        = extensions

[ extensions ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = critical, CA:true, pathlen:0
keyUsage               = critical, digitalSignature, keyCertSign, cRLSign

[ distinguished_name ]
countryName             =
stateOrProvinceName     =
localityName            =
organizationName        =
commonName              =
