[ ca ]
default_ca = ca_default

[ca_default]
# File Locations
basedir                 = .
certificate             = $basedir/ca/ca.crt
private_key             = $basedir/ca/ca.key
new_certs_dir           = $basedir/ca/certs
database                = $basedir/ca/data/database
serial                  = $basedir/ca/data/serial
RANDFILE                = $basedir/ca/data/rand

# Other Values
unique_subject          = no
copy_extensions         = copy
default_days            = 365
default_md              = sha256
x509_extensions         = extensions
policy                  = policy

[ policy ]
countryName             = match
stateOrProvinceName     = match
localityName            = match
organizationName        = match
commonName              = supplied

[ extensions ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
